{%extends "user/layout.html"%}
{% block header %}{%endblock%}

{% block content %}
    
<div class="content" style="background-color: white;padding:3em">
  <h3>Please Complete This Form To Donate To Bookworm</h3>
  <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="userid" value="{% if userdeets%}{{userdeets.user_id}}{% endif %}">
    <div class="mb-3">
      <input type="text" name="fullname" placeholder="Your Name" value="{% if userdeets%}{{userdeets.user_fullname}}{% endif %}">
    </div>
    <div class="mb-3">
      <input type="email" name="email" placeholder="Your Email" value="{% if userdeets%}{{userdeets.user_email}}{% endif %}">
    </div>
    <div class="mb-3">
      <input type="number" name="amount" placeholder="Amount">
    </div>
    <div class="mb-3">
      <button class="btn btn-primary">Donate</button>
    </form>
    </div>
    
  
{%endblock%}

{% block morecontent %}{% endblock morecontent%} 
{% block featured %}{%endblock%}

 